* {
    margin: 0;
    padding: 0;
}

:root {
    --BG: rgb(255, 248, 238);
    --color: white;
    --card-color: palevioletred;
    --width: 100%;
}

body {
    background-color: var(--BG);
    overflow: auto;

    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.font {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

}

.nav {
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(169, 211, 225);
    border-radius: 10px;
}

.logo {
    height: 200px;
    mix-blend-mode: darken;
}

.search {
    border: 0px;
    font-size: 40px;
    height: 100px;
    width: 1500px;
    border-radius: 50px;
    padding: 20px;
    background-color: var(--color);
    color: black;
}

.navs {
    margin-left: 5vw;
    font-size: 35px;
}

a:hover {
    color: rgb(140, 140, 236);
}

li {
    margin: 40px;
    list-style: none;

}

button:hover {
    background-color: rgb(68, 67, 124);

}

a {
    text-decoration: none;
    color: var(--color);
}

.cart {
    border: 0px;
    display: inline-block;
    font-size: 30px;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    background-color: rgb(129, 166, 231);
    margin-right: 15px;
}

.bg {
    width: var(--width);
}

.content {
    width: 1000px;
    height: 700px;
    position: absolute;
    top: 45vh;
    margin-left: 100px;
    background-color: rgb(159, 189, 216);
    opacity: 0.7;
    padding: 80px;
    border-radius: 50px;

}

.FR {
    font-size: 120px;

}

.text {
    font-size: 50px;
}

.order {
    border: 0px;
    margin-top: 50px;
    font-size: 50px;
    width: 500px;
    height: 100px;
    border-radius: 30px;
    background-color: rgb(88, 138, 224);
    color: var(--color);
}

.special {
    line-height: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.try {
    line-height: 80px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.flex {
    display: flex;
    justify-content: space-evenly
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 45px;
    box-shadow: 0px 0px 30px rgb(129, 127, 127);
    background-color: rgb(221, 238, 252);
    padding: 20px;
    border-radius: 25px;
    width: 400px;
    height: 500px;
}

.pink {
    border-radius: 25px;
    width: var(--width);
    height: 55%;
}

.name {
    color: var(--card-color);
    font-size: 25px;
}

.price {
    color: var(--card-color);
    font-size: 35px;
}

.btn {
    width: 180px;
    height: 50px;
    font-size: 25px;
    color: var(--card-color);
    border: 0px;
    border-radius: 25px;
}

.footer {
    width: var(--width);
    height: 40vh;
    background-color: rgb(233, 186, 186);
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    font-size: 30px;
}

.card:hover {
    background-color: rgb(234, 253, 250);
    transform: translateY(-40px) scale(1.2);
    transition: all 0.2s ease-in-out 0s;
}

.box {
    display: flex;
    justify-content: center;


}

.bg-log {
    width: var(--width);
    height: 100vh;
    position: absolute;

}

.sign-in {
    background-color: rgba(0, 0, 0, 0.438);
    color: rgba(255, 255, 255, 0.801);
    margin: 20vh;
    position: relative;
    border-radius: 35px;
    width: 800px;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.top {
    font-size: 80px;
    margin-bottom: 30px;
}

.next {
    font-size: 30px;
    margin-bottom: 60px;
}

input {
    background-color: rgba(0, 0, 0, 0.448);
    width: 500px;
    height: 80px;
    border-radius: 40px;
    padding-left: 40px;
    font-size: 30px;
    color: var(--color);
}

.forgot {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.signbtn {
    background-color: black;
    opacity: 0.3;
    color: var(--color);
    width: 200px;
    min-height: 60px;
    border-radius: 35px;
    font-size: 30px;
    margin-top: 20px
}

.new {
    font-size: 30px;
    margin-top: 30px;
}

hr {
    margin-top: 50px;
    width: 650px;
}

.signup {
    color: var(--color);
}

.f1 {
    font-size: 50px;
    color: var(--color);
}

.f2 {
    font-size: 50px;
    color: var(--color);
}

.f3 {
    font-size: 50px;
    color: var(--color);
}

.f4 {
    font-size: 50px;
    color: var(--color);
}

.searchICON {
    position: relative;
    height: 100px;
    width: 1500px;
    border: 0px;
}

.fa-solid {
    position: absolute;
    left: 93%;
    top: 30px;
    font-size: 40px;
    color: gray;
}