@font-face {
    font-family: 'Red Hat Text';
    src: url('RedHatText-Light.woff2') format('woff2'),
        url('RedHatText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

